<!DOCTYPE html>
<html>

<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="CSSLatihanhtml.css">
</head>

<body>

<div class="topnav">
  <a href="*">BERANDA</a>
  <a href="*">Profil</a>
</div>

<div align="justify" class="content">

  <center>
  <h1>LAYOUT HTML</h1>
  </center>

  <div class="row">
    <div class="column">
      <h2>Beruang Grizzly</h2>
      <img src="Bear1.jpeg" width="370">
      <p>Warnanya coklat, hidup di wilayah Timur Eurasia dan Amerika Utara</p>
    </div>

    <div class="row">
        <div class="column">
          <h2>Beruang Kutub</h2>
          <img src="Bear2.jpg" width="370">
          <p>Warnanya putih, hidup di wilayah Kutub Utara</p>
        </div>
    </div>

<div align="center" class="footer">
  <p>Copyright by Cicellion</p>
</div>

</body>

</html>
